.card {
    background-color: #f5f5f1;
    border-width: 5px;
    border-color: #767491;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 400px;
    height: 600px;
    padding: 40px;
    text-align: center;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
}
.todo{
    background-color: #f5f5f1;
    padding: 50px;
    border: 10px;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 75%;

}
.hilera{
    display: flex;
    flex-direction: row;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
}